@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.container {
  width: 600px;
  margin: 20px auto 0;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .1);
  border-radius: 8px;
  overflow: hidden;
}

